In [1]:
import pandas as pd

In [3]:
s = pd.Series(list('asdaesdaesdasesda'))

In [4]:
s

0     a
1     s
2     d
3     a
4     e
5     s
6     d
7     a
8     e
9     s
10    d
11    a
12    s
13    e
14    s
15    d
16    a
dtype: object

In [5]:
s.unique()

array(['a', 's', 'd', 'e'], dtype=object)

In [6]:
s.value_counts()

a    5
s    5
d    4
e    3
dtype: int64

In [7]:
dados = pd.read_csv('dados/aluguel.csv', sep=';')

In [8]:
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [9]:
dados.Tipo.value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64

### Exercícios

In [11]:
m1 = 'CCcCCccCCCccCcCccCcCcCCCcCCcccCCcCcCcCcccCCcCcccCc'
m2 = 'CCCCCccCccCcCCCCccCccccCccCccCCcCccCcCcCCcCccCccCc'
m3 = 'CccCCccCcCCCCCCCCCCcccCccCCCCCCccCCCcccCCCcCCcccCC'
m4 = 'cCCccCCccCCccCCccccCcCcCcCcCcCcCCCCccccCCCcCCcCCCC'
m5 = 'CCCcCcCcCcCCCcCCcCcCCccCcCCcccCccCCcCcCcCcCcccccCc'

In [17]:
eventos = {'m1':list(m1), 'm2':list(m2), 'm3':list(m3), 'm4':list(m4), 'm5':list(m5)}
moedas = pd.DataFrame(eventos)
df = pd.DataFrame(data = ['Cara', 'Coroa'], index = ['c', 'C'], columns=['Faces'])

for item in moedas:
    df = pd.concat([df, moedas[item].value_counts()], axis=1)
df

   Faces  m1  m2  m3  m4  m5
c   Cara  25  26  19  23  25
C  Coroa  25  24  31  27  25